:root {
  --hits-color: #000;
}

.hits {
  color: var(--hits-color);
  text-align: center;
  max-width: 50em;
  margin: auto;
}

.item {
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em;
  position: relative;
  max-width: 50em;
}

.description {
  color: #333;
  font-weight: bold;
  width: 50%;
}

.brand {
  position: absolute;
  right: 1em;
  top: 1em;
}

.servingSize {
  position: absolute;
  right: 1em;
  top: 2em;
}

.servings {
  position: absolute;
  right: 1em;
  top: 3em;
}

.ingredients {
}

.nutrients {
}

.raw_data {
  overflow: scroll;
}

.ingredients div {
  padding-left: 1em;
}

.nutrients div {
  padding-left: 1em;
}

.raw_data div {
  padding-left: 1em;
}

.noshow {
}

.noshow div {
  display: none;
}

.noshow:hover {
  color: grey;
}

.add-button {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.remove-button {
}

.serving-button {
}

.config-buttons {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
