:root {
  --hits-color: #000;
}

.hits {
  color: var(--hits-color);
  text-align: center;
  max-width: 50em;
  margin: auto;
}

.item {
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em;
  position: relative;
  max-width: 50em;
}

.description {
  color: #333;
  font-weight: bold;
  width: 50%;
}

.brand {
  position: absolute;
  right: 1em;
  top: 1em;
}

.servingSize {
  position: absolute;
  right: 1em;
  top: 2em;
}

.servings {
  position: absolute;
  right: 1em;
  top: 3em;
}

.ingredients {
}

.nutrients {
}

.raw_data {
  overflow: scroll;
}

.ingredients div {
  padding-left: 1em;
}

.nutrients div {
  padding-left: 1em;
}

.raw_data div {
  padding-left: 1em;
}

.noshow {
}

.noshow div {
  display: none;
}

.noshow:hover {
  color: grey;
}

.add-button {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.remove-button {
}

.serving-button {
}

.config-buttons {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.nutrition-information-container {
  top: 5em;
  left: 0px;
  right: 0px;
  position: absolute;
}

.nutrition-information {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0em auto;
  max-width: 30em;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid grey;
}

.header {
  border-bottom: 1px solid black;
}

.row {
  border-bottom: 1px solid #ccc;
  line-height: 1.3em;
}

.hidden {
  display: none;
}

.import-export-container {
  display: grid;
  grid-template-columns: 22em 3em;
  transition: .3s;
  border-radius: 1em;
  border: 1px solid black;
  background-color: #eee;
  position: absolute;
  top: 1em;
  left: 0em;
  padding: .25em;
}

.tucked-away {
  transform: translate(-24em);
}

.import-export-switch {
  background-color: #ccc;
  border-radius: 1em;
}

.layout {
  display: grid;
  grid-template-columns: 5em 1fr 5em;
}
